@{
    ViewBag.Title = "Detailed Estimate";
}

<script src="~/Models/processInformation.js"></script>

<h2>@ViewBag.Title.</h2>

<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col" id="num">#</th>
            <th scope="col">Room</th>
            <th scope="col">Fabric</th>
            <th scope="col" id="C">Color</th>
            <th scope="col" id="FM">Fab Mfg</th>
            <th scope="col" id="PP">Pair/Panel</th>
            <th scope="col" id="RS">Rod Size</th>
            <th scope="col" id="RE">Return</th>
            <th scope="col" id="L">Length<\th>
            <th scope="col" id="FULL">Fulness</th>
            <th scope="col" id="W">Widths</th>
            <th scope="col" id="Y">Yards</th>
            <th scope="col" id="WL">Widths Labor</th>
            <th scope="col" id="RT">Rod Type</th>
            <th scope="col" id="RP">Price</th>
            <th scope="col" id="COM">Comments</th>
            <th scope="col" id="TP">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td id="R"></td>
            <td id="F"></td>
        </tr>
        @*<tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
        </tr>*@
    </tbody>
</table>